html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

body {
  font-family: $font-family3;
  overflow-x: hidden;
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 15px;
}

.lock {
  overflow: hidden;
}

.slick-slide {
  margin: 0 55px;
}

.slick-list {
  margin: 0 -55px;
}
