@media (max-width: 1440px) {
  .header {
    &__nav {
      width: 100%;
    }
  }

  .listwords {
    width: 100%;
    &__outer {
      width: 336px;
    }
    &__link {
      font-size: 14px;
    }
  }

  .listcontacts {
    width: 64%;

    &__link {
      font-size: 14px;
    }
  }

  // === hero ===

  .hero__box {
    margin-top: 45px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 59px;
  }

  // .hero__img {
  //   width: 100%;
  //   height: 100%;
  // }
}

@media (max-width: 1300px) {
  // === hero ===

  .hero__img {
    max-width: 600px;
    max-height: 500px;
  }
}

@media (max-width: 1150px) {
  .burger {
    display: block;
  }

  .listwords {
    display: none;

    &__outer {
      width: 0;
      display: none;
    }
  }

  .listcontacts {
    width: 100%;

    &__link {
      font-size: 14px;
    }
  }
}

@media (max-width: 1200px) {
  // === services ===
  .services {
    padding: 46px 0;
  }

  // === forums ===
  .forums {
    padding: 44px 0 37px 0;
  }
}

@media (max-width: 1060px) {
  // === hero ===
  .hero__img {
    max-width: 500px;
    max-height: 400px;
  }
}

@media (max-width: 1000px) {
  // === hero ===

  .hero__box {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 54px;
  }

  .hero__subtitle {
    margin: 0 auto 24px auto;
  }

  .hero__textbox {
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .hero__text {
    margin: 0 auto 60px auto;
  }

  // === services ===

  .services__title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
  }

  .services__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .services__item {
    border: 1px solid $item-border;
  }

  .services__itemtext {
    margin-bottom: 30px;
  }

  .services__itemtitle {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 18px;
  }

  // === forums ===
  .forums {
    &__title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 56px;
    }
  }
}

@media (max-width: 866px) {
  .listcontacts {
    &__item--mail {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .logoText {
    font-size: 12px;
  }

  .burger {
    width: 40px;

    div {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 750px) {
  // === services ===
  .services__title {
    font-size: 37px;
    line-height: 42px;
  }

  .services__subtitle {
    margin-bottom: 30px;
  }

  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }

  // === froums ===
  .forums {
    &__title {
      font-size: 37px;
      line-height: 42px;
    }
  }
}

@media (max-width: 710px) {
  // === hero ===

  .hero__title {
    font-size: 45px;
    line-height: 50px;
  }

  // === forums ===
  .forums {
    &__button {
      img {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 694px) {
  .header {
    padding-bottom: 44px;
  }

  .header__nav {
    display: none;
  }

  .mobileListcontacts__nav {
    display: block;
    width: 100%;
  }

  .mobileListcontacts__list {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 638px) {
  .hero__title {
    font-size: 40px;
    line-height: 42px;
  }

  .hero__img {
    max-width: 100%;
    // width: 100%;
  }
}

@media (max-width: 600px) {
  // === forums ===
  .forums {
    &__button {
      img {
        max-width: 80%;
      }
    }
  }
}

@media (max-width: 572px) {
  .hero__title {
    font-size: 34px;
    line-height: 36px;
  }

  .hero__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  // === services ===

  .services {
    padding: 33px 0 28px 0;
  }

  .services__items {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }

  .services__title {
    font-size: 28px;
    line-height: 30px;
  }

  .services__subtitle {
    font-size: 16px;
    line-height: 23px;
  }

  .services__text {
    font-size: 22px;
    line-height: 25px;
  }

  // === forums ===
  .forums {
    padding: 28px 0 52px 0;

    &__title {
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    &__slider {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 430px) {
  .hero__title {
    font-size: 30px;
    line-height: 30px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 500px) {
  .header__logo-link {
    max-width: 260px;
  }

  .logoBox {
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }

  .logoText {
    font-size: 10px;
  }

  .mobileListcontacts__list {
    justify-content: space-between;
  }

  .mobileListcontacts__link {
    font-size: 15px;
  }

  .hero__box {
    margin-top: 0;
  }
}

@media (max-width: 388px) {
  // === hero ===

  .hero {
    padding: 23px 0;
  }

  .hero__title {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: 340px) {
  .mobileListcontacts__link {
    font-size: 14px;
  }
}
