$container: 1630px;

$font-family1: 'Inter', sans-serif;
$font-family2: 'Manrope', sans-serif;
$font-family3: 'Montserrat', sans-serif;

$bg-color: #f3f5f9;
$text-black: #333333;
$subtitle-color: #242424;
$text-orange: #ff8562;
$text-lightblack: #223455;
$title-color: #000000;
$input-border: #bebebe;
$item-border: #d3d3d3;

%header-linktext {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

%btn {
  border: none;
  display: inline-block;
  padding: 20px 34px;
  border-radius: 10px;
  background-color: $text-lightblack;
  color: #fff;
  cursor: pointer;
}

%title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}

%title1000 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

%title

%slidetextbox {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
  font-family: $font-family3;
  padding-bottom: 24px;
  border-bottom: 1px solid #000000;
  margin-bottom: 21px;
}

%slidelink {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  &:hover {
    text-decoration: underline;
  }
}

%slidebutton {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
