@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

// === header ===

.header {
  font-family: $font-family3;
  padding: 24px 0;
  background-color: $bg-color;
  position: relative;
  z-index: 100;

  a {
    color: $text-black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  &__logo-link {
    display: inline-block;
    max-width: 290px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1181px;
    position: relative;
    z-index: 100;
  }
}

.logoBox {
  width: 200px;
  height: 70px;
  margin-right: 20px;
}

.logo {
  width: 100%;
  height: 100%;
}

.logoText {
  font-size: 14px;
}

.listwords {
  display: flex;
  align-items: center;

  &__outer {
    max-width: 395px;
    margin-right: 20px;
  }

  &__item {
    margin-right: 47px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @extend %header-linktext;
    text-transform: uppercase;
  }
}

.listcontacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 705px;
  margin-right: 20px;

  &__item {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 13px;
  }

  &__link {
    @extend %header-linktext;
  }
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  width: 54px;
  position: relative;
  z-index: 10;

  div {
    height: 2px;
    width: 100%;
    color: $text-black;
    background-color: $text-black;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mobileListcontacts__nav {
  display: none;
  position: absolute;
  bottom: -36px;
  left: 0;
}

.mobileListcontacts__listItem {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.mobileListcontacts__link {
  @extend %header-linktext;
}

.mobileMenu {
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 24px 0;
  background-color: $bg-color;
  transition: all ease-in 0.4s;

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 40px;
  }

  &__link {
    @extend %header-linktext;
  }

  &__link--text {
    text-transform: uppercase;
  }
}

.mobileMenu__active {
  top: 0;
}

// === /header ===

// === hero ===

.hero {
  padding: 32px 0;
  background-color: $bg-color;
  position: relative;
  z-index: 100;

  // &__bgImage {
  //   position: absolute;
  //   top: -238px;
  //   right: 0;
  //   z-index: -1;
  //   width: 1600px;
  // }

  &__box {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 106px;
  }

  &__textbox {
    max-width: 870px;
  }

  &__subtitle {
    color: $subtitle-color;
    max-width: 220px;
    margin-bottom: 24px;
    line-height: 20px;
  }

  &__title {
    font-size: 58px;
    line-height: 68px;
    font-weight: 600;
    color: $text-black;
    margin-bottom: 24px;

    span {
      font-weight: 700;
      color: $text-orange;
    }
  }

  &__text {
    max-width: 489px;
    color: $text-lightblack;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 60px;
  }

  &__btn {
    @extend %btn;

    &:hover {
      text-decoration: underline;
    }
  }

  &__img {
    max-width: 687px;
    max-height: 583px;
  }

  &__socials {
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

// === /hero ===

// === services ===

.services {
  padding: 70px 0 88px 0;

  &__textbox {
    max-width: 550px;
  }

  &__title {
    color: $title-color;
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 13px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 26px;
    color: $text-lightblack;
    margin-bottom: 46px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 53px;
  }

  &__item {
    padding: 28px 20px;
    border-top: 1px solid $item-border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item--1,
  &__item--2,
  &__item--3,
  &__item--5,
  &__item--6,
  &__item--7 {
    border-right: 1px solid $item-border;
  }

  &__item--5,
  &__item--6,
  &__item--7 {
    border-bottom: 1px solid $item-border;
  }

  &__itemicon {
    width: 54px;
    height: 54px;
    margin-bottom: 30px;
  }

  &__itemtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: $text-orange;
    margin-bottom: 22px;
  }

  &__itemtext {
    font-size: 18px;
    line-height: 26px;
    color: $text-lightblack;
    margin-bottom: 40px;
  }

  &__itemlink {
    display: flex;
    align-items: center;
    color: $text-black;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__linkicon {
    margin-left: 11px;
  }

  &__itemtitle--8 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 16px;
    max-width: 143px;
  }

  &__itemtext--8 {
    max-width: 198px;
    color: $text-lightblack;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__itemform {
    display: flex;
    flex-direction: column;
  }

  &__iteminput {
    display: inline-block;
    padding: 18px 16px;
    border: 1px solid $input-border;
    width: 316px;
    border-radius: 10px;
    margin-bottom: 37px;
  }

  &__itembtn {
    @extend %btn;
    width: 155px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color: $title-color;
    max-width: 460px;
  }
}

// === /services ===

@import 'media';
