@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

// === header ===

.header {
  font-family: $font-family3;
  padding: 24px 0;
  background-color: $bg-color;
  position: relative;

  a {
    color: $text-black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo-link {
    display: inline-block;
    max-width: 290px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1181px;
    position: relative;
    z-index: 100;
  }
}

.logoBox {
  width: 200px;
  height: 70px;
  margin-right: 20px;
}

.logo {
  width: 100%;
  height: 100%;
}

.logoText {
  font-size: 14px;
}

.listwords {
  display: flex;
  align-items: center;

  &__outer {
    max-width: 395px;
    margin-right: 20px;
  }

  &__item {
    margin-right: 47px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @extend %header-linktext;
    text-transform: uppercase;
  }
}

.listcontacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 705px;
  margin-right: 20px;
  z-index: 10;
  position: relative;

  &__item {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 13px;
  }

  &__link {
    @extend %header-linktext;
  }
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  width: 54px;
  position: relative;
  z-index: 70;

  div {
    height: 2px;
    width: 100%;
    color: $text-black;
    background-color: $text-black;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mobileListcontacts__nav {
  display: none;
  position: absolute;
  bottom: -36px;
  left: 0;
}

.mobileListcontacts__listItem {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.mobileListcontacts__link {
  @extend %header-linktext;
}

.mobileMenu__active {
  left: 0;
}

// === /header ===

// === hero ===

.hero {
  padding: 32px 0;
  background-color: $bg-color;
  position: relative;
  z-index: 100;

  // &__bgImage {
  //   position: absolute;
  //   top: -238px;
  //   right: 0;
  //   z-index: -1;
  //   width: 1600px;
  // }

  &__box {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 106px;
  }

  &__textbox {
    max-width: 870px;
  }

  &__subtitle {
    color: $subtitle-color;
    max-width: 220px;
    margin-bottom: 24px;
    line-height: 20px;
  }

  &__title {
    font-size: 58px;
    line-height: 68px;
    font-weight: 600;
    color: $text-black;
    margin-bottom: 24px;

    span {
      font-weight: 700;
      color: $text-orange;
    }
  }

  &__text {
    max-width: 489px;
    color: $text-lightblack;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 60px;
  }

  &__btn {
    @extend %btn;

    &:hover {
      text-decoration: underline;
    }
  }

  &__img {
    max-width: 687px;
    max-height: 583px;
  }

  &__socials {
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

// === /hero ===

// === services ===

.services {
  padding: 70px 0 88px 0;

  &__textbox {
    max-width: 550px;
  }

  &__title {
    color: $title-color;
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 13px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 26px;
    color: $text-lightblack;
    margin-bottom: 46px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 53px;
  }

  &__item {
    padding: 28px 20px;
    border-top: 1px solid $item-border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item--1,
  &__item--2,
  &__item--3,
  &__item--5,
  &__item--6,
  &__item--7 {
    border-right: 1px solid $item-border;
  }

  &__item--5,
  &__item--6,
  &__item--7 {
    border-bottom: 1px solid $item-border;
  }

  &__itemicon {
    width: 54px;
    height: 54px;
    margin-bottom: 30px;
  }

  &__itemtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: $text-orange;
    margin-bottom: 22px;
  }

  &__itemtext {
    font-size: 18px;
    line-height: 26px;
    color: $text-lightblack;
    margin-bottom: 40px;
  }

  &__itemlink {
    display: flex;
    align-items: center;
    color: $text-black;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__linkicon {
    margin-left: 11px;
  }

  &__itemtitle--8 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 16px;
    max-width: 143px;
  }

  &__itemtext--8 {
    max-width: 198px;
    color: $text-lightblack;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__itemform {
    display: flex;
    flex-direction: column;
  }

  &__iteminput {
    display: inline-block;
    padding: 18px 16px;
    border: 1px solid $input-border;
    width: 316px;
    border-radius: 10px;
    margin-bottom: 37px;
  }

  &__itembtn {
    @extend %btn;
    width: 155px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color: $title-color;
    max-width: 460px;
  }
}

// === /services ===

// === forums ===

.forums {
  padding-top: 88px;
  padding-bottom: 74px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %title;
    margin-bottom: 62px;
    max-width: 605px;
  }

  &__slider {
    margin-bottom: 44px;
  }

  &__slideimage {
    margin-bottom: 20px;
  }

  &__slidetextbox {
    @extend %slidetextbox;
  }

  &__slidetext {
    color: $text-orange;
  }

  &__slidelink {
    @extend %slidelink;
  }

  &__slideicon {
    margin-left: 13px;
  }

  &__buttons {
    align-self: center;
  }

  &__button {
    @extend %slidebutton;
  }

  &__button--left {
    margin-right: 27px;
  }
}

// === /forums ===

// === competitions ===

.competitions {
  padding: 57px 0 100px 0;
  background-color: $bg-color;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %title;
    margin-bottom: 7px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: $text-lightblack;
    max-width: 477px;
    margin-bottom: 87px;
  }

  &__slider {
    margin-bottom: 44px;
  }

  &__slidetextbox {
    @extend %slidetextbox;
  }

  &__slideimage {
    margin-bottom: 21px;
  }

  &__slidetext {
    color: $text-orange;
  }

  &__slidelink {
    @extend %slidelink;
  }

  &__buttons {
    align-self: center;
  }

  &__button {
    @extend %slidebutton;
  }

  &__button--left {
    margin-right: 27px;
  }
}

// === /competitions ===

// === policy ===

.policy {
  padding: 118px 0 56px 0;
  position: relative;

  &__decoration {
    position: absolute;
  }

  &__decoration--1 {
    top: 120px;
    right: 0;
  }

  &__decoration--2 {
    left: 0;
    top: 920px;
  }

  &__inner {
    position: relative;
  }

  &__title {
    @extend %title;
    max-width: 500px;
    padding-bottom: 18px;
    border-bottom: 2px solid $item-border;
    position: relative;
    margin-bottom: 43px;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -154px;
      height: 2px;
      width: 50%;
      background-color: $item-border;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1023px;
    margin-bottom: 74px;
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: $text-lightblack;
  }

  &__text--big {
    max-width: 452px;
    margin-bottom: 33px;
  }

  &__btn {
    @extend %btn;
  }

  &__img {
    max-width: 536px;
    max-height: 513px;
  }

  &__text--small {
    position: absolute;
    top: 550px;
    right: 0;
    max-width: 369px;
  }

  &__popup {
    max-width: 911px;
    height: 397px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #eaeaea;
    border-radius: 46px;
  }
}

// === /policy ===

// === friends ===

.friends {
  position: relative;
  z-index: 600;
  padding: 55px 0 96px 0;

  &__title {
    @extend %title;
    text-align: center;
    margin-bottom: 90px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    // height: 440px;
    margin: 0 auto;
  }

  &__item {
    background-color: #fff;
    border-radius: 11px;
    border: 1px solid #f2f2f2f2;
    box-shadow: 11px 22px 27px rgba(212, 217, 232, 0.2);
    width: 223px;
    height: 126px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }

}

// === /friends ===

@import 'media';
